.mobile-comment-item.highlight {
  background: #e2f6ff;
}
.dark .mobile-comment-item.highlight {
  background: #1c313a;
}
.mobile-comment-item .gray {
  color: #8b8b8b;
}
.mobile-comment-item .dark {
  color: #404040;
}
.mobile-comment-item .comment-body {
  line-height: 1.625;
}
.mobile-comment-item .comment-fold {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.mobile-comment-item .comment-expand {
  max-height: unset !important;
  -webkit-line-clamp: unset !important;
}
.mobile-comment-item .more {
  height: 18px;
}
.mobile-comment-item .top-label {
  top: -2px;
  right: -42px;
}
.mobile-comment-item .top-label.md {
  right: -48px;
}
.mobile-comment-item {
  transition-property: background-color;
}
.mobile-comment-item .more-entry.md {
  display: none;
}
.mobile-comment-item:hover .more-entry.md {
  display: flex;
}