.search-input .MuiOutlinedInput-notchedOutline {
  border-width: 1px;
  border-color: #1b1b1b;
}
.search-input .MuiOutlinedInput-root {
  border-radius: 30px !important;
}
.search-input .MuiOutlinedInput-input {
  color: #1b1b1b !important;
  padding: 10px 10px 9px 34px;
}
.dark .search-input .MuiOutlinedInput-input {
  color: #b2aeae !important;
}
.search-input.small .MuiOutlinedInput-input {
  padding: 8px 11px 7px 36px;
}